.mobile-menu-trigger {
    color: #fff;
}
nav .nav-wrapper .mobile-menu-trigger i.material-icons {
    line-height: 1;
    height: auto;
}
@media screen and (min-width: 601px) {
    .mobile-menu-trigger {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #main-nav {
        float: none !important;
    }
    #main-nav:not(.menu-visible) {
        display: none;
    }
    #main-nav li {
        float: none !important;
        display: block;
    }
    nav {
        height: auto;
    }
}